* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: url(../fonts/Ubuntu-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu-Regular";
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu-Cond";
  src: url(../fonts/UbuntuCondensed-Regular.ttf);
  font-weight: regular;
  font-style: normal;
}
.nav__list {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}
.nav__item {
  margin-right: 2rem;
}
.nav__item:last-child {
  margin-right: none;
}
.nav__link {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-family: "Ubuntu-Cond";
}
.nav__link:hover {
  color: #FE2120;
  text-decoration: underline;
  transition: 1s;
}

html {
  font-size: 62.5%;
  font-family: "Ubuntu-Regular";
  background-color: #000000;
  scroll-behavior: smooth;
}

.container {
  color: #ffffff;
  max-width: 134rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  display: flex;
  padding-top: 5rem;
}
.header__wrapper-one {
  font-size: 2.5rem;
  width: 30%;
}
.header__wrapper-one-img {
  margin-bottom: 34.6rem;
}
.header__wrapper-profession {
  margin-bottom: 2rem;
}
.header__wrapper-city {
  font-size: 1.8rem;
  color: #666666;
}
.header__wrapper-city span {
  color: #FE2120;
}
.header__wrapper-two {
  position: relative;
  z-index: 3;
  width: 40%;
}
.header__wrapper-two-img {
  width: 105%;
  height: 70rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__wrapper-three {
  width: 30%;
  color: #FE2120;
  text-align: end;
}
.header__wrapper-three-text {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.header__wrapper-three-title {
  font-size: 4.2rem;
  font-family: "Ubuntu-Bold";
  margin-bottom: 51.6rem;
}

.elipse {
  width: 100%;
  height: 540px;
  background-color: #FE2120;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16rem;
  right: -1rem;
  z-index: -1;
}
.elipse__subtract {
  width: 90%;
  height: 490px;
  background-color: #000000;
  border-radius: 100rem;
}

.social__link {
  margin-left: 3rem;
}

.wrapper__title {
  height: 4.2rem;
  margin-bottom: 5rem;
  margin-top: -2.6rem;
}

.title-box {
  position: relative;
}
.title-box:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 2.1rem;
}
.title-box__text {
  text-transform: uppercase;
  text-align: center;
  font-size: 4.2rem;
  margin-top: 0;
  position: absolute;
  left: 10rem;
  background-color: #000000;
  padding: 0 20px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}
.about__box {
  width: 45%;
  border-radius: 3.3rem;
  padding: 5rem 2rem;
}
.about__box:hover {
  transition: 1s;
}
.about__box-title {
  font-size: 3.2rem;
  margin-bottom: 4rem;
  line-height: 150%;
  color: #FE2120;
  font-family: "Ubuntu-Bold";
  text-transform: uppercase;
  text-align: center;
}
.about__box-text {
  font-size: 1.8rem;
  line-height: 150%;
  color: #000000;
  text-align: center;
}
.about__box-text:hover {
  color: #ffffff;
  transition: 2s;
}
.about__total {
  font-size: 1.8rem;
  line-height: 140%;
  text-align: center;
  margin-bottom: 6rem;
}

.skills__title {
  margin-bottom: 5rem;
}
.skills__text {
  left: 105.4rem;
}
.skills__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
.skills__box-item {
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 1rem;
}
.skills__box-item-text {
  font-size: 1.8rem;
  letter-spacing: 6%;
  color: #000000;
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.cards {
  width: 31%;
  padding: 3.2rem 2rem;
  border-radius: 3rem;
  border: 0.1rem solid #ffffff;
  letter-spacing: 6%;
  text-align: center;
  margin-bottom: 5rem;
}
.cards__title {
  font-size: 4.8rem;
  margin-bottom: 1rem;
}
.cards__text {
  font-size: 1.6rem;
  color: #666666;
  margin-bottom: 5.8rem;
}
.cards__img {
  width: 100%;
  margin-bottom: 2.8rem;
}
.cards__text-info {
  font-size: 2rem;
  margin-bottom: 5.2rem;
}
.cards__button {
  width: 80%;
  height: 8rem;
  border-radius: 2.6rem;
  background: linear-gradient(120deg, darkmagenta, crimson, orange);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  border: 0;
  padding: 20px 30px;
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
}
.cards__button:hover {
  background-position: 0 0;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.cards__button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.cards__button-link {
  font-size: 2.4rem;
  color: #000000;
  text-decoration: none;
}

.composition {
  display: flex;
  position: relative;
  margin-bottom: 5rem;
  height: 51rem;
}
.composition__img {
  width: 55%;
  position: absolute;
  z-index: 10;
  transition: all 0.3s;
}
.composition__img_n1 {
  left: 0;
  z-index: 9;
}
.composition__img_n2 {
  left: 33rem;
  z-index: 10;
}
.composition__img_n3 {
  right: 0;
  z-index: 8;
}
.composition__img:hover {
  transform: scale(1.05);
  z-index: 20;
}
.composition:hover .composition__img:not(:hover) {
  transform: scale(0.95);
}

.game {
  width: 600px;
  height: 200px;
  border-bottom: 1px solid #000;
  margin: auto;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.game__text {
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 7rem;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url(../img/dino.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

#cactus {
  width: 40px;
  height: 40px;
  background-image: url(../img/cactus.png);
  background-size: 40px 40px;
  position: relative;
  top: 110px;
  left: 580px;
  -webkit-animation: cactusMov 2s infinite linear;
          animation: cactusMov 2s infinite linear;
}

@-webkit-keyframes cactusMov {
  0% {
    left: 580px;
  }
  100% {
    left: -20px;
  }
}

@keyframes cactusMov {
  0% {
    left: 580px;
  }
  100% {
    left: -20px;
  }
}
.jump {
  -webkit-animation: jump 0.3s linear;
          animation: jump 0.3s linear;
}

@-webkit-keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  50% {
    top: 50px;
  }
  80% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  50% {
    top: 50px;
  }
  80% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}
.contacts__box {
  text-align: center;
}
.contacts__box-logo {
  width: 10rem;
  margin-bottom: 3rem;
}
.contacts__box-text {
  font-size: 1.6rem;
  color: #666666;
  margin-bottom: 2.6rem;
}
.contacts__box-social {
  margin-bottom: 3.4rem;
}
.contacts__box-link {
  margin-right: 2rem;
  text-decoration: none;
}
.contacts__box-link:last-child {
  margin-right: 0rem;
}
.contacts__button {
  width: 13%;
  height: 5rem;
  border-radius: 2.2rem;
  background-color: #ffffff;
  margin-bottom: 5rem;
}
.contacts__button-link {
  font-size: 1.6rem;
  color: #000000;
  text-decoration: none;
}

@media (max-width: 991px) {
  html {
    font-size: 52%;
  }
  .elipse {
    display: none;
  }
  .wrapper__title {
    margin-top: 0;
  }
  .cards-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .cards {
    width: 100%;
  }
  .composition {
    height: 36rem;
  }
}
@media (max-width: 767px) {
  .nav__list {
    display: none;
  }
  .header__wrapper-one {
    width: 50%;
  }
  .header__wrapper-three {
    width: 50%;
  }
  .header__wrapper-two {
    display: none;
  }
  .header__wrapper-one-img {
    margin-bottom: 12rem;
  }
  .header__wrapper-three-title {
    margin-bottom: 33rem;
  }
  .about__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .about__box {
    width: 100%;
  }
  .about__box-text {
    color: #ffffff;
  }
  .skills__box-item {
    width: 49%;
  }
  .composition {
    height: 155rem;
  }
  .composition__img {
    width: 100%;
  }
  .composition__img_n1 {
    top: 48rem;
  }
  .composition__img_n2 {
    top: 96rem;
    left: 0;
  }
  .play-game {
    display: none;
  }
  .contacts__button {
    width: 50%;
    height: 7rem;
  }
}
@media (max-width: 675px) {
  .composition {
    height: 148rem;
  }
}
@media (max-width: 575px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header__wrapper-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
  }
  .header__wrapper-one-img {
    width: 50%;
  }
  .header__wrapper-three {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header__wrapper-three-title {
    margin-bottom: 3rem;
  }
  .social__link:nth-child(1) {
    margin: 0;
  }
  .header__wrapper-three-social {
    margin-bottom: 3rem;
  }
  .title-box__text {
    left: 5rem;
  }
  .wrapper__title {
    margin-bottom: 1rem;
  }
  .about__box {
    padding: 0;
  }
  .composition__img_n1 {
    top: 48rem;
  }
  .composition__img_n2 {
    top: 96rem;
  }
  .composition {
    height: 139rem;
  }
}
@media (max-width: 500px) {
  .composition {
    height: 120rem;
  }
  .composition__img_n1 {
    top: 42rem;
  }
  .composition__img_n2 {
    top: 84rem;
  }
}
@media (max-width: 400px) {
  .composition {
    height: 95rem;
  }
  .composition__img_n1 {
    top: 33rem;
  }
  .composition__img_n2 {
    top: 66rem;
  }
}/*# sourceMappingURL=style.css.map */